.main-chat
  .main-chat__header
    .main-chat__header--group
      test
      .main-chat__header--group-member
        Member:test
    .main-chat__header--edit
      %a{ href: 'http://qiita.com' }
        Edit

  .main-chat__message
    .main-chat__message--contents
      .main-chat__message--contents-name
        jorge
      .main-chat__message--contents-date
        2020/12/12(Wed) 
      .main-chat__message--contents-time
        17:00:00
    .main-chat__message--tweet
      Ohayou

    .main-chat__message--contents
      .main-chat__message--contents-name
        Manuel
      .main-chat__message--contents-date
        2020/12/12(Wed) 
      .main-chat__message--contents-time
        17:30:00
    .main-chat__message--tweet
      Konnichiwa

  .main-chat__footer
    .main-chat__footer--postform
      %input.main-chat__footer--postform-msg{name: "msg", placeholder: "type a message", type: "text", value: ""}/
      %label{class: "input-box__image"}
        = icon('fas', 'image')
        %input{type: "file", class: "input-box__selection"}
    
    %input.main-chat__footer--sendbtn{name: "send", placeholder: "", type: "submit", value: "Send"}/
    -# .main-chat__footer__sendbtn
    -#   = link_to "Send"