.side-bar
  .side-bar__header
    .side-bar__header--name
      Jorge
    .side-bar__header--edit
      .side-bar__header--edit-pen
        = icon('far', 'edit')
      .side-bar__header--edit-gear
        = icon('fas', 'cog') 
        
  .side-bar__group    
    .side-bar__group--name  
      techchamp
    .side-bar__group--message
      there is no massage   

   

